:host {
  display: flex;

  > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    > :not(.tab-bar) {
      flex-grow: 1;
    }
  }
}

.tab-bar {
  border-bottom: 1px solid $lite-gray;
  display: flex;
  height: 20px;

  > * {
    border-right: 1px solid $lite-gray;
    padding: 0 5px;

    &.active {
      background-color: $lite-gray;
    }
  }
}
