:host {
  @include form-ui();
  @include toolbar();

  table {
    width: 100%;
  }

  td {
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      width: 20%;
    }
  }

  thead {
    font-weight: bold;
  }
}
