@mixin form-ui() {
  label {
    display: flex;
    margin-bottom: 5px;

    div {
      width: 100px;
    }

    input {
      flex-grow: 1;
    }

    &.inline {
      display: inline-flex;
    }
  }
}

@mixin toolbar() {
  .toolbar {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;

    button {
      &:first-child {
        margin-right: 5px;
      }
    }
  }
}
