:host {
  display: flex;

  > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
  }
}

.top-dock {
  border-bottom: 1px solid $lite-gray;
  height: 20px;
}

.top-dock > * {
  cursor: pointer;
}

.body {
  flex-grow: 1;
  padding: 5px;
  overflow: auto;
}
