:host {
  @include toolbar();

  > div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .inner {
    box-shadow: 0 5px 22px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    opacity: 0;
    padding: 15px;

    animation-name: BounceIn;
    animation-duration: 350ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    will-change: transform;

    > h1 {
      font-size: 1.5em;
      margin: 0 0 15px;
    }

    &.small {
      max-width: 350px;
      width: 25%;
    }

    &.large {
      width: 90%;
    }
  }

  .mask {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);

    &.shown {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    > div {
      background-color: white;
      box-shadow: 0 5px 22px 0 rgba(0, 0, 0, 0.2);
      padding: 15px;
      text-align: center;
    }
  }
}

@keyframes BounceIn {
  0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.05);
  }
  80%{
    opacity: 1;
    transform: scale(0.93);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}
