:host {
  display: flex;

  > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    > * {
      flex-grow: 1;
    }
  }
}

textarea {
  border: 0;
  outline: none;
}

.top-dock {
  border-bottom: 1px solid $lite-gray;
  display: flex;
  flex-grow: initial;
  height: 20px;

  > * {
    border-right: 1px solid $lite-gray;
    cursor: pointer;
    padding: 0 5px 0 0;
  }
}

.bottom-dock {
  border-top: 1px solid $lite-gray;
  height: 20px;
  text-align: center;
}

.alt-row {
  background-color: $lite-gray;
}

.result {
  border-top: 1px solid $lite-gray;
  display: flex;
  flex-direction: column;

  table {
    border-spacing: 0;
    display: block;
    flex-grow: 1;
  }
}

tr {
  &:hover {
    background-color: darken($lite-gray, 10%);
  }
}

th, td {
  border-bottom: 1px solid $lite-gray;
  border-right: 1px solid $lite-gray;
}
